div.box, div.cell {
	display: inline-block;
}

.cell input {
	width: 30px;
	height: 30px;
}

#sudoku {
	margin-left: 120px;
	margin-top: 240px;
	font-size: 0;
	text-align: left;
}


body {
  text-align: center;
  font-family: Arial;
}

h1	{
	color: #F898A3;
	font-family: courier 
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}

#flash {
  margin: 20px;
  color: #357EC7;
}

body{
	background-color: #F8E6D7;
	background-image: url('../ichigo_2.png');
	background-size: 100%;
	background-repeat:no-repeat;
}